In [1]:
import os
import pandas as pd

# Total personal income (weekly) by postcode
df1 = pd.read_csv('../data/raw/POA/2021 Census GCP All Geographies for VIC/POA/VIC/2021Census_G17B_VIC_POA.csv')
df2 = pd.read_csv('../data/raw/POA/2021 Census GCP All Geographies for VIC/POA/VIC/2021Census_G17C_VIC_POA.csv')

In [2]:
# filter the dataframes to only include personal income columns
df1 = df1.filter(regex="^P")
df2 = df2.filter(regex="^P")

# check the numbers of columns in each dataframe
print(len(df1.count()))
print(len(df2.count()))

61
111

In [3]:
# merge the dataframes by postcode
df = pd.merge(df1, df2, on='POA_CODE_2021')

# check if columns = 111 + 61 - 1 = 171
df

,POA_CODE_2021,P_Neg_Nil_income_15_19_yrs,P_Neg_Nil_income_20_24_yrs,P_Neg_Nil_income_25_34_yrs,P_Neg_Nil_income_35_44_yrs,P_Neg_Nil_income_45_54_yrs,P_Neg_Nil_income_55_64_yrs,P_Neg_Nil_income_65_74_yrs,P_Neg_Nil_income_75_84_yrs,P_Negtve_Nil_incme_85_yrs_ovr,...,P_Tot_15_19_yrs,P_Tot_20_24_yrs,P_Tot_25_34_yrs,P_Tot_35_44_yrs,P_Tot_45_54_yrs,P_Tot_55_64_yrs,P_Tot_65_74_yrs,P_Tot_75_84_yrs,P_Tot_85ov,P_Tot_Tot
0,POA3000,543,2412,1526,368,212,192,123,33,8,...,1726,10827,17665,5909,2466,1688,956,323,73,41625
1,POA3002,36,17,31,30,29,32,32,12,12,...,92,275,1144,786,552,663,651,324,119,4609
2,POA3003,122,154,197,73,38,34,21,5,3,...,227,1098,3248,1377,697,435,245,91,15,7440
3,POA3004,103,88,146,134,97,77,82,40,6,...,205,711,3363,2155,1224,1071,1042,659,242,10672
4,POA3006,225,412,470,227,132,154,83,33,7,...,458,2861,9434,4225,1748,1322,868,358,65,21338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,POA3990,0,0,0,0,0,0,0,0,0,...,3,3,9,8,19,32,19,12,0,110
690,POA3991,10,0,0,4,5,6,5,0,0,...,21,23,34,45,58,67,75,23,0,351
691,POA3992,19,0,4,7,4,16,11,0,0,...,68,51,144,169,167,198,188,48,16,1049
692,POA3995,168,37,46,47,56,147,80,32,19,...,589,492,1131,1150,1359,1750,1927,1096,423,9908
693,POA3996,77,10,19,28,22,103,77,15,7,...,294,198,457,663,696,1019,1302,737,247,5613

In [4]:
# Pre-processing

# remove some unnecessary information from the column names
df.columns = df.columns.str.replace('POA_CODE_2021', 'postcode')
df.columns = df.columns.str.replace('P_', '')
df.columns = df.columns.str.replace('_yrs', '')
df.columns = df.columns.str.replace('_income', '')

# remove POA before numbers
# Remember: If you change something in this box, you need to rerun this notebook again!
df["postcode"] = df["postcode"].str[3:]

# check
df.head()

,postcode,Neg_Nil_15_19,Neg_Nil_20_24,Neg_Nil_25_34,Neg_Nil_35_44,Neg_Nil_45_54,Neg_Nil_55_64,Neg_Nil_65_74,Neg_Nil_75_84,Negtve_Nil_incme_85_ovr,...,Tot_15_19,Tot_20_24,Tot_25_34,Tot_35_44,Tot_45_54,Tot_55_64,Tot_65_74,Tot_75_84,Tot_85ov,Tot_Tot
0,3000,543,2412,1526,368,212,192,123,33,8,...,1726,10827,17665,5909,2466,1688,956,323,73,41625
1,3002,36,17,31,30,29,32,32,12,12,...,92,275,1144,786,552,663,651,324,119,4609
2,3003,122,154,197,73,38,34,21,5,3,...,227,1098,3248,1377,697,435,245,91,15,7440
3,3004,103,88,146,134,97,77,82,40,6,...,205,711,3363,2155,1224,1071,1042,659,242,10672
4,3006,225,412,470,227,132,154,83,33,7,...,458,2861,9434,4225,1748,1322,868,358,65,21338

In [5]:
df["15_19"] = (df["1_149_15_19"]*75 + df["150_299_15_19"]*225 + df["300_399_15_19"]*350 + 
               df["400_499_15_19"]*450 + df["500_649_15_19"]*575 + df["650_799_15_19"]*725 + 
               df["800_999_15_19"]*900 + df["1000_1249_15_19"]*1125 + df["1250_1499_15_19"]*1375 + 
               df["1500_1749_15_19"]*1625 + df["1750_1999_15_19"]*1875 + df["2000_2999_15_19"]*2500 +
               df["3000_3499_15_19"]*3250 + df["3500_more_15_19"]*3750) / (df["Tot_15_19"] - df["PI_NS_15_19"])

In [6]:
df

,postcode,Neg_Nil_15_19,Neg_Nil_20_24,Neg_Nil_25_34,Neg_Nil_35_44,Neg_Nil_45_54,Neg_Nil_55_64,Neg_Nil_65_74,Neg_Nil_75_84,Negtve_Nil_incme_85_ovr,...,Tot_20_24,Tot_25_34,Tot_35_44,Tot_45_54,Tot_55_64,Tot_65_74,Tot_75_84,Tot_85ov,Tot_Tot,15_19
0,3000,543,2412,1526,368,212,192,123,33,8,...,10827,17665,5909,2466,1688,956,323,73,41625,302.426093
1,3002,36,17,31,30,29,32,32,12,12,...,275,1144,786,552,663,651,324,119,4609,145.238095
2,3003,122,154,197,73,38,34,21,5,3,...,1098,3248,1377,697,435,245,91,15,7440,127.830189
3,3004,103,88,146,134,97,77,82,40,6,...,711,3363,2155,1224,1071,1042,659,242,10672,149.197861
4,3006,225,412,470,227,132,154,83,33,7,...,2861,9434,4225,1748,1322,868,358,65,21338,221.184510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,3990,0,0,0,0,0,0,0,0,0,...,3,9,8,19,32,19,12,0,110,75.000000
690,3991,10,0,0,4,5,6,5,0,0,...,23,34,45,58,67,75,23,0,351,16.071429
691,3992,19,0,4,7,4,16,11,0,0,...,51,144,169,167,198,188,48,16,1049,107.894737
692,3995,168,37,46,47,56,147,80,32,19,...,492,1131,1150,1359,1750,1927,1096,423,9908,195.295203
693,3996,77,10,19,28,22,103,77,15,7,...,198,457,663,696,1019,1302,737,247,5613,143.584906