<Font size=5> External Data Preprocessing

<font size=3>School Location

In [1]:
import pandas as pd

In [20]:
school_df_1819 = pd.read_csv('../data/raw/school_location_18_19.csv',encoding='cp1252')
school_df_20 = pd.read_csv('../data/raw/school_location_20.csv')
school_df_21 = pd.read_csv('../data/raw/school_location_21.csv',encoding='cp1252')

In [21]:
school_df_1819.head()

,Education_Sector,Entity_Type,School_No,School_Name,School_Type,School_Status,Address_Line_1,Address_Line_2,Address_Town,Address_State,...,Postal_Address_Line_1,Postal_Address_Line_2,Postal_Town,Postal_State,Postal_Postcode,Full_Phone_No,LGA_ID,LGA_Name,X,Y
0,Government,1,1,Alberton Primary School,Primary,O,21 Thomson Street,NaN,Alberton,VIC,...,21 Thomson Street,NaN,ALBERTON,VIC,3971,03 5183 2412,681,Wellington (S),146.666601,-38.617713
1,Government,1,3,Allansford and District Primary School,Primary,O,Frank Street,NaN,Allansford,VIC,...,Frank Street,NaN,ALLANSFORD,VIC,3277,03 5565 1382,673,Warrnambool (C),142.590393,-38.386281
2,Government,1,4,Avoca Primary School,Primary,O,118 Barnett Street,NaN,Avoca,VIC,...,P O Box 12,NaN,AVOCA,VIC,3467,03 5465 3176,599,Pyrenees (S),143.475649,-37.084502
3,Government,1,8,Avenel Primary School,Primary,O,40 Anderson Street,NaN,Avenel,VIC,...,40 Anderson Street,NaN,AVENEL,VIC,3664,03 5796 2264,643,Strathbogie (S),145.234722,-36.901368
4,Government,1,12,Warrandyte Primary School,Primary,O,5-11 Forbes Street,NaN,Warrandyte,VIC,...,5-11 Forbes Street,NaN,WARRANDYTE,VIC,3113,03 9844 3537,421,Manningham (C),145.213980,-37.742675

In [22]:
school_df_20.head()

,Education_Sector,Entity_Type,SCHOOL_NO,School_Name,School_Type,School_Status,Address_Line_1,Address_Line_2,Address_Town,Address_State,...,Postal_Address_Line_1,Postal_Address_Line_2,Postal_Town,Postal_State,Postal_Postcode,Full_Phone_No,LGA_ID,LGA_Name,X,Y
0,Government,1,1,Alberton Primary School,Primary,O,21 Thomson Street,NaN,Alberton,VIC,...,21 Thomson Street,NaN,ALBERTON,VIC,3971,03 5183 2412,681,Wellington (S),146.666601,-38.617713
1,Government,1,3,Allansford and District Primary School,Primary,O,Frank Street,NaN,Allansford,VIC,...,Frank Street,NaN,ALLANSFORD,VIC,3277,03 5565 1382,673,Warrnambool (C),142.590393,-38.386281
2,Government,1,4,Avoca Primary School,Primary,O,118 Barnett Street,NaN,Avoca,VIC,...,P O Box 12,NaN,AVOCA,VIC,3467,03 5465 3176,599,Pyrenees (S),143.475649,-37.084502
3,Government,1,8,Avenel Primary School,Primary,O,40 Anderson Street,NaN,Avenel,VIC,...,40 Anderson Street,NaN,AVENEL,VIC,3664,03 5796 2264,643,Strathbogie (S),145.234722,-36.901368
4,Government,1,12,Warrandyte Primary School,Primary,O,5-11 Forbes Street,NaN,Warrandyte,VIC,...,5-11 Forbes Street,NaN,WARRANDYTE,VIC,3113,03 9844 3537,421,Manningham (C),145.213980,-37.742675

In [23]:
school_df_21.head()

,Education_Sector,Entity_Type,SCHOOL_NO,School_Name,School_Type,School_Status,Address_Line_1,Address_Line_2,Address_Town,Address_State,...,Postal_Address_Line_1,Postal_Address_Line_2,Postal_Town,Postal_State,Postal_Postcode,Full_Phone_No,LGA_ID,LGA_Name,X,Y
0,Government,1,1,Alberton Primary School,Primary,O,21 Thomson Street,NaN,Alberton,VIC,...,21 Thomson Street,NaN,ALBERTON,VIC,3971,03 5183 2412,681,Wellington (S),146.666601,-38.617713
1,Government,1,3,Allansford and District Primary School,Primary,O,Frank Street,NaN,Allansford,VIC,...,Frank Street,NaN,ALLANSFORD,VIC,3277,03 5565 1382,673,Warrnambool (C),142.590393,-38.386281
2,Government,1,4,Avoca Primary School,Primary,O,118 Barnett Street,NaN,Avoca,VIC,...,P O Box 12,NaN,AVOCA,VIC,3467,03 5465 3176,599,Pyrenees (S),143.475649,-37.084502
3,Government,1,8,Avenel Primary School,Primary,O,40 Anderson Street,NaN,Avenel,VIC,...,40 Anderson Street,NaN,AVENEL,VIC,3664,03 5796 2264,643,Strathbogie (S),145.234722,-36.901368
4,Government,1,12,Warrandyte Primary School,Primary,O,5-11 Forbes Street,NaN,Warrandyte,VIC,...,5-11 Forbes Street,NaN,WARRANDYTE,VIC,3113,03 9844 3537,421,Manningham (C),145.213980,-37.742675

In [25]:
school_df_1819 = school_df_1819[['Education_Sector','School_Name','School_Type','Address_Line_1','Address_Town','Address_Postcode','LGA_Name','X','Y']]
school_df_20 = school_df_20[['Education_Sector','School_Name','School_Type','Address_Line_1','Address_Town','Address_Postcode','LGA_Name','X','Y']]
school_df_21 = school_df_21[['Education_Sector','School_Name','School_Type','Address_Line_1','Address_Town','Address_Postcode','LGA_Name','X','Y']]

In [26]:
school_df_1819.isnull().sum().sort_values(ascending=False)

Education_Sector    0
School_Name         0
School_Type         0
Address_Line_1      0
Address_Town        0
Address_Postcode    0
LGA_Name            0
X                   0
Y                   0
dtype: int64

In [27]:
school_df_20.isnull().sum().sort_values(ascending=False)

Education_Sector    0
School_Name         0
School_Type         0
Address_Line_1      0
Address_Town        0
Address_Postcode    0
LGA_Name            0
X                   0
Y                   0
dtype: int64

In [28]:
school_df_21.isnull().sum().sort_values(ascending=False)

Education_Sector    0
School_Name         0
School_Type         0
Address_Line_1      0
Address_Town        0
Address_Postcode    0
LGA_Name            0
X                   0
Y                   0
dtype: int64

In [29]:
school_df_1819.to_csv('../data/curated/school_df_1819_preprocessed.csv')
school_df_20.to_csv('../data/curated/school_df_20_preprocessed.csv')
school_df_21.to_csv('../data/curated/school_df_21_preprocessed.csv')

<Font size=3> Hospital Location

In [13]:
hospital_df= pd.read_csv('../data/raw/hospital_location.csv')
hospital_df.head()

,Hospital ID,Formal Name,Other Name,Emergency Capable,Location Address,Suburb,Postcode,Access Point,Category,Agency Type
0,5488,Albert Road Clinic,Albert Road Clinic,NO,31-33 Albert Road,South Melbourne,3205,NaN,PRIVATE,Private Hospital
1,3485,Albury Wodonga Health,Albury Wodonga Health,YES,69 Vermont Street,Wodonga,3690,NaN,PUBLIC,Public Hospital
2,12990,"Albury Wodonga Health, Albury Campus","Albury Wodonga Health, Albury Campus",YES,Borella,Albury,2640,NaN,PUBLIC,Public Hospital
3,3491,Alexandra District Health,Alexandra District Health,NO,20 Cooper Street,Alexandra,3714,NaN,PUBLIC,Public Hospital
4,11519,Alfred Health,Alfred Health,NO,Commercial Road,Melbourne,3004,NaN,PUBLIC,Public Hospital

In [14]:
hospital_df = hospital_df[['Formal Name','Emergency Capable','Location Address','Suburb','Postcode','Agency Type']]
hospital_df.head()

,Formal Name,Emergency Capable,Location Address,Suburb,Postcode,Agency Type
0,Albert Road Clinic,NO,31-33 Albert Road,South Melbourne,3205,Private Hospital
1,Albury Wodonga Health,YES,69 Vermont Street,Wodonga,3690,Public Hospital
2,"Albury Wodonga Health, Albury Campus",YES,Borella,Albury,2640,Public Hospital
3,Alexandra District Health,NO,20 Cooper Street,Alexandra,3714,Public Hospital
4,Alfred Health,NO,Commercial Road,Melbourne,3004,Public Hospital

In [15]:
hospital_df.isnull().sum().sort_values(ascending=False)

Formal Name          0
Emergency Capable    0
Location Address     0
Suburb               0
Postcode             0
Agency Type          0
dtype: int64

In [16]:
hospital_df.to_csv('../data/curated/hospital_preprocessed.csv')

<font size=3> Population Data

In [3]:
population_df=pd.read_excel('../data/raw/population.xlsx',sheet_name='Table 3')
population = population_df[8:]
population.to_csv('../data/curated/population_preprocessed.csv', encoding='utf-8')
population

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
8,2001,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021007,...,221,262,233,197,125,108,79,57,37,2760
9,2001,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021008,...,675,585,491,300,223,201,144,64,32,9129
10,2001,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021009,...,633,620,520,444,384,394,320,214,226,9717
11,2001,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021010,...,323,297,199,152,97,94,82,54,20,3925
12,2001,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021012,...,600,508,294,224,159,105,70,29,24,9425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51460,"Source: Regional population by age and sex, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51462,Â© Commonwealth of Australia 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
population=pd.read_csv('../data/curated/population_preprocessed.csv',header=0,names=['Year','S/T code','S/T name', 'GCCSA code', 'GCCSA name', \
                     'SA4 code', 'SA4 name', 'SA3 code', 'SA3 name', 'SA2 code', \
                     'SA2 name', '0-4','5-9', '10-14','15-19', '20-24','25-29',\
                    '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74',\
                    '75-79','80-84','85 and over', 'total persons'])
VIC_population = population.loc[population['S/T name']=='Victoria']

/Users/zhangwenwen/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
select_population = VIC_population.loc[:, ['Year','S/T name', 'SA2 name', '0-4','5-9', '10-14','15-19', '20-24','25-29',\
                    '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74',\
                    '75-79','80-84','85 and over', 'total persons']]

In [8]:
select_population

,Year,S/T name,SA2 name,0-4,5-9,10-14,15-19,20-24,25-29,30-34,...,45-49,50-54,55-59,60-64,65-69,70-74,75-79,80-84,85 and over,total persons
650,2001,Victoria,Alfredton,353.0,467.0,584.0,556.0,310.0,266.0,364.0,...,435.0,368.0,247.0,233.0,184.0,168.0,151.0,67.0,42.0,5756.0
651,2001,Victoria,Ballarat,629.0,618.0,661.0,1065.0,1046.0,824.0,732.0,...,783.0,743.0,513.0,448.0,371.0,440.0,403.0,323.0,373.0,11497.0
652,2001,Victoria,Buninyong,347.0,406.0,454.0,622.0,406.0,264.0,330.0,...,407.0,379.0,248.0,179.0,142.0,124.0,84.0,39.0,24.0,5320.0
653,2001,Victoria,Delacombe,397.0,410.0,366.0,322.0,259.0,267.0,321.0,...,291.0,279.0,187.0,113.0,98.0,88.0,50.0,27.0,21.0,4154.0
654,2001,Victoria,Smythes Creek,251.0,301.0,286.0,246.0,176.0,168.0,287.0,...,297.0,265.0,171.0,105.0,87.0,44.0,32.0,19.0,7.0,3317.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50167,2021,Victoria,Otway,151.0,168.0,200.0,168.0,109.0,157.0,209.0,...,264.0,303.0,363.0,422.0,404.0,311.0,182.0,103.0,71.0,3978.0
50168,2021,Victoria,Moyne - East,426.0,470.0,508.0,441.0,330.0,351.0,437.0,...,444.0,477.0,555.0,526.0,475.0,339.0,210.0,153.0,113.0,6989.0
50169,2021,Victoria,Moyne - West,516.0,611.0,729.0,588.0,389.0,424.0,506.0,...,618.0,675.0,735.0,731.0,781.0,671.0,420.0,228.0,252.0,9963.0
50170,2021,Victoria,Warrnambool - North,1259.0,1434.0,1598.0,1424.0,1216.0,1463.0,1436.0,...,1374.0,1435.0,1444.0,1404.0,1245.0,1150.0,843.0,543.0,504.0,22462.0
50171,2021,Victoria,Warrnambool - South,641.0,695.0,728.0,713.0,673.0,892.0,832.0,...,805.0,855.0,838.0,913.0,885.0,760.0,536.0,391.0,540.0,13292.0