In [7]:
import pandas as pd
import urllib
from urllib.request import urlretrieve

In [8]:
post = pd.read_csv("../data/raw/postcode_info.csv")
rent = pd.read_excel("https://www.dffh.vic.gov.au/sites/default/files/documents/202209/Moving%20annual%20rent%20by%20suburb%20-%20June%20quarter%202022.xlsx",  sheet_name='All properties')
df = pd.DataFrame()
rent = rent.drop(index= list(rent[rent['Unnamed: 1'] == 'Group Total'].index))

In [9]:
suburb = rent[rent.columns.values.tolist()[1]][2:].reset_index(drop=True)

In [10]:
for i in range(len(suburb)):
    suburb[i] = suburb[i].split('-')[-1]

In [11]:
df = pd.DataFrame({'suburb': suburb})
name = ['suburb']
for i in list(range(2,181,2)):
    rent.loc[rent[rent.columns.values.tolist()[i+1]] == '-', rent.columns.values.tolist()[i+1]] = 0
    df = pd.concat([df, rent[rent.columns.values.tolist()[i+1]][2:].astype(int).reset_index(drop=True)],axis=1)
    name.append(rent[rent.columns.values.tolist()[i]][:1].tolist()[0])
df.columns = name
df['postcode'] = ''

In [12]:
df

,suburb,Mar 2000,Jun 2000,Sep 2000,Dec 2000,Mar 2001,Jun 2001,Sep 2001,Dec 2001,Mar 2002,...,Jun 2020,Sep 2020,Dec 2020,Mar 2021,Jun 2021,Sep 2021,Dec 2021,Mar 2022,Jun 2022,postcode
0,West St Kilda,260,260,270,275,275,280,280,290,300,...,580,550,550,500,500,500,495,500,520,
1,Armadale,200,200,205,210,215,220,225,230,233,...,500,500,495,450,440,425,420,430,450,
2,Carlton North,260,260,265,270,270,275,280,280,290,...,590,590,590,580,575,575,580,580,595,
3,Parkville,260,260,260,260,260,260,265,270,270,...,400,400,395,350,340,330,320,310,319,
4,St Kilda Rd,320,320,320,320,320,320,320,320,320,...,495,460,420,380,369,350,350,364,390,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,Traralgon,125,120,125,125,125,125,130,125,130,...,300,310,320,330,340,350,360,360,380,
142,Wanagaratta,125,125,130,130,130,130,130,135,135,...,300,300,308,320,330,350,360,370,380,
143,Warragul,130,135,135,135,135,135,140,140,150,...,350,360,380,375,380,390,390,400,400,
144,Warrnambool,130,135,135,135,140,140,140,145,145,...,340,340,350,350,360,370,380,400,400,
145,Wodonga,145,145,150,150,150,150,150,150,150,...,330,330,330,340,350,360,370,380,390,

In [13]:
post

,Unnamed: 0,ID,Postcode,Locality,State,Longitude,Latitude,Category,Type,SA3,...,MMM 2015,MMM 2019,CED,Altitude,Charge Zone,PHN Code,PHN Name,LGA Region,Electorate,Electorate Rating
0,0,4746,3000,MELBOURNE,VIC,144.956776,-37.817403,Delivery Area,Delivery Area,20604.0,...,1.0,1.0,Melbourne,15.244751,V1,PHN201,North Western Melbourne,Melbourne,Melbourne,Inner Metropolitan
1,1,4747,3001,MELBOURNE,VIC,144.956776,-37.817403,Post Office Boxes,Post Office Boxes,20605.0,...,1.0,1.0,Melbourne,15.244751,V1,PHN203,NaN,Moonee Valley,Maribyrnong,NaN
2,2,4748,3002,EAST MELBOURNE,VIC,144.982207,-37.818517,Delivery Area,Delivery Area,20604.0,...,1.0,1.0,Melbourne,14.315022,V1,PHN201,North Western Melbourne,Yarra,Melbourne,Inner Metropolitan
3,3,4749,3003,WEST MELBOURNE,VIC,144.949592,-37.810871,Delivery Area,Delivery Area,20604.0,...,1.0,1.0,Melbourne,15.316063,V1,PHN201,North Western Melbourne,Melbourne,Melbourne,Inner Metropolitan
4,4,4750,3004,MELBOURNE,VIC,144.970161,-37.844246,Delivery Area,Delivery Area,20605.0,...,1.0,1.0,Macnamara,-3492.000000,V1,PHN203,South Eastern Melbourne,Yarra,Macnamara,Inner Metropolitan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3529,3529,11311,8111,MELBOURNE,VIC,144.970161,-37.844246,LVR,LVR,20605.0,...,1.0,1.0,NaN,NaN,V1,PHN203,NaN,Yarra,Macnamara,NaN
3530,3530,11312,8120,MELBOURNE,VIC,144.970161,-37.844246,LVR,LVR,20605.0,...,1.0,1.0,NaN,NaN,V1,PHN203,NaN,Yarra,Macnamara,NaN
3531,3531,11313,8205,MELBOURNE,VIC,144.970161,-37.844246,LVR,LVR,20605.0,...,1.0,1.0,NaN,NaN,V1,PHN203,NaN,Yarra,Macnamara,NaN
3532,3532,11331,8785,DANDENONG,VIC,145.208504,-38.016114,Post Office Boxes,Post Office Boxes,21204.0,...,1.0,1.0,NaN,15.138582,V1,PHN203,NaN,Monash,Isaacs,NaN
3533,3533,23878,9999,NORTH POLE,VIC,144.956776,-37.817403,Delivery Area,Delivery Area,20604.0,...,1.0,1.0,Melbourne,15.244751,NaN,NaN,NaN,Yarra,Macnamara,NaN

In [14]:
for i in range(len(df)):
    if post[(post['Locality'] == str.upper(df['suburb'][i])) & (post['State'] == 'VIC')]['Postcode'].to_list() == []:
        df.loc[i,'postcode'] = 0
    else:
        df.loc[i,'postcode'] = post[(post['Locality'] == str.upper(df['suburb'][i])) & (post['State'] == 'VIC')]['Postcode'].to_list()[0]
df

,suburb,Mar 2000,Jun 2000,Sep 2000,Dec 2000,Mar 2001,Jun 2001,Sep 2001,Dec 2001,Mar 2002,...,Jun 2020,Sep 2020,Dec 2020,Mar 2021,Jun 2021,Sep 2021,Dec 2021,Mar 2022,Jun 2022,postcode
0,West St Kilda,260,260,270,275,275,280,280,290,300,...,580,550,550,500,500,500,495,500,520,0
1,Armadale,200,200,205,210,215,220,225,230,233,...,500,500,495,450,440,425,420,430,450,3143
2,Carlton North,260,260,265,270,270,275,280,280,290,...,590,590,590,580,575,575,580,580,595,3054
3,Parkville,260,260,260,260,260,260,265,270,270,...,400,400,395,350,340,330,320,310,319,3052
4,St Kilda Rd,320,320,320,320,320,320,320,320,320,...,495,460,420,380,369,350,350,364,390,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,Traralgon,125,120,125,125,125,125,130,125,130,...,300,310,320,330,340,350,360,360,380,3844
142,Wanagaratta,125,125,130,130,130,130,130,135,135,...,300,300,308,320,330,350,360,370,380,0
143,Warragul,130,135,135,135,135,135,140,140,150,...,350,360,380,375,380,390,390,400,400,3820
144,Warrnambool,130,135,135,135,140,140,140,145,145,...,340,340,350,350,360,370,380,400,400,3280
145,Wodonga,145,145,150,150,150,150,150,150,150,...,330,330,330,340,350,360,370,380,390,3689

In [15]:
#check which suburb cannot be Identified
df[df['postcode'] == 0]

,suburb,Mar 2000,Jun 2000,Sep 2000,Dec 2000,Mar 2001,Jun 2001,Sep 2001,Dec 2001,Mar 2002,...,Jun 2020,Sep 2020,Dec 2020,Mar 2021,Jun 2021,Sep 2021,Dec 2021,Mar 2022,Jun 2022,postcode
0,West St Kilda,260,260,270,275,275,280,280,290,300,...,580,550,550,500,500,500,495,500,520,0
4,St Kilda Rd,320,320,320,320,320,320,320,320,320,...,495,460,420,380,369,350,350,364,390,0
8,East St Kilda,180,180,180,180,185,190,195,195,200,...,425,420,410,395,385,380,380,380,390,0
32,East Hawthorn,200,201,210,215,220,230,235,235,230,...,440,438,420,400,400,390,380,390,400,0
68,East Brunswick,190,210,210,230,230,240,240,240,250,...,450,450,425,420,410,400,400,400,420,0
76,West Brunswick,140,141,145,150,150,153,160,165,170,...,400,390,380,380,360,350,350,350,360,0
96,Yarra Ranges,150,150,155,155,160,160,165,165,165,...,400,400,400,400,415,420,425,435,450,0
108,Mt Martha,170,175,180,180,185,190,190,195,200,...,485,496,508,520,545,550,570,590,600,0
112,Newcombe,135,140,140,140,145,145,145,150,150,...,350,350,360,360,370,375,380,395,400,0
122,Bendigo East,140,140,140,145,145,145,150,150,155,...,320,320,320,330,340,350,360,370,375,0
142,Wanagaratta,125,125,130,130,130,130,130,135,135,...,300,300,308,320,330,350,360,370,380,0

In [16]:
df.loc[0,'postcode'] = 3182
df.loc[4,'postcode'] = 3004
df.loc[8,'postcode'] = 3183
df.loc[32,'postcode'] = 3123
df.loc[68,'postcode'] = 3057
df.loc[76,'postcode'] = 3055
df.loc[96,'postcode'] = 3160
df.loc[108,'postcode'] = 3934
df.loc[112,'postcode'] = 3219
df.loc[122,'postcode'] = 3550
df.loc[142,'postcode'] = 3677

In [35]:
ceshi = df.transpose().drop('suburb')
ceshi.columns = list(ceshi.loc['postcode'])
ceshi = ceshi.drop('postcode')
ceshi

,3182,3143,3054,3052,3004,3067,3008,3002,3183,3184,...,3860,3660,3630,3585,3228,3844,3677,3820,3280,3689
Mar 2000,260,200,260,260,320,230,0,265,180,199,...,120,125,140,130,155,125,125,130,130,145
Jun 2000,260,200,260,260,320,230,340,270,180,200,...,120,125,145,135,160,120,125,135,135,145
Sep 2000,270,205,265,260,320,240,0,280,180,200,...,120,125,145,135,165,125,130,135,135,150
Dec 2000,275,210,270,260,320,240,0,275,180,210,...,120,125,145,140,165,125,130,135,135,150
Mar 2001,275,215,270,260,320,243,0,290,185,215,...,120,125,145,140,170,125,130,135,140,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jun 2021,500,440,575,340,369,430,400,450,385,420,...,330,300,310,300,550,340,330,380,360,350
Sep 2021,500,425,575,330,350,430,400,450,380,420,...,340,305,320,298,550,350,350,390,370,360
Dec 2021,495,420,580,320,350,430,400,450,380,420,...,350,320,330,295,570,360,360,390,380,370
Mar 2022,500,430,580,310,364,430,420,470,380,420,...,360,330,330,300,580,360,370,400,400,380
Jun 2022,520,450,595,319,390,450,450,470,390,420,...,380,350,350,300,600,380,380,400,400,390

In [38]:
ceshi2 = ceshi.drop(list(df.transpose().drop('suburb').loc['postcode'])[2:], axis=1)
ceshi2

         3143
Mar 2000  200
Jun 2000  200
Sep 2000  205
Dec 2000  210
Mar 2001  215
...       ...
Jun 2021  440
Sep 2021  425
Dec 2021  420
Mar 2022  430
Jun 2022  450

[90 rows x 1 columns]

In [60]:
from datetime import datetime
%matplotlib inline
import dateparser

In [78]:
date = []
for i in range(0, len(ceshi2), 4):
    date.append(list(ceshi2.index)[i][-4:] + '-' + '03-31')
    date.append(list(ceshi2.index)[i+1][-4:] + '-' + '06-31')
    if i <88:
        date.append(list(ceshi2.index)[i+2][-4:] + '-' + '09-31')
        date.append(list(ceshi2.index)[i+3][-4:] + '-' + '12-31')
date

['2000-03-31',
 '2000-06-31',
 '2000-09-31',
 '2000-12-31',
 '2001-03-31',
 '2001-06-31',
 '2001-09-31',
 '2001-12-31',
 '2002-03-31',
 '2002-06-31',
 '2002-09-31',
 '2003-12-31',
 '2003-03-31',
 '2003-06-31',
 '2003-09-31',
 '2003-12-31',
 '2004-03-31',
 '2004-06-31',
 '2004-09-31',
 '2004-12-31',
 '2005-03-31',
 '2005-06-31',
 '2005-09-31',
 '2005-12-31',
 '2006-03-31',
 '2006-06-31',
 '2006-09-31',
 '2006-12-31',
 '2007-03-31',
 '2007-06-31',
 '2007-09-31',
 '2007-12-31',
 '2008-03-31',
 '2008-06-31',
 '2008-09-31',
 '2008-12-31',
 '2009-03-31',
 '2009-06-31',
 '2009-09-31',
 '2009-12-31',
 '2010-03-31',
 '2010-06-31',
 '2010-09-31',
 '2010-12-31',
 '2011-03-31',
 '2011-06-31',
 '2011-09-31',
 '2011-12-31',
 '2012-03-31',
 '2012-06-31',
 '2012-09-31',
 '2012-12-31',
 '2013-03-31',
 '2013-06-31',
 '2013-09-31',
 '2013-12-31',
 '2014-03-31',
 '2014-06-31',
 '2014-09-31',
 '2014-12-31',
 '2015-03-31',
 '2015-06-31',
 '2015-09-31',
 '2015-12-31',
 '2016-03-31',
 '2016-06-31',
 '2016-09-31',
 '2016-12-31',
 '2017-03-31',
 '2017-06-31',
 '2017-09-31',
 '2017-12-31',
 '2018-03-31',
 '2018-06-31',
 '2018-09-31',
 '2018-12-31',
 '2019-03-31',
 '2019-06-31',
 '2019-09-31',
 '2019-12-31',
 '2020-03-31',
 '2020-06-31',
 '2020-09-31',
 '2020-12-31',
 '2021-03-31',
 '2021-06-31',
 '2021-09-31',
 '2021-12-31',
 '2022-03-31',
 '2022-06-31']

In [81]:
ceshi2.index = date
ceshi2

           3143
2000-03-31  200
2000-06-31  200
2000-09-31  205
2000-12-31  210
2001-03-31  215
...         ...
2021-06-31  440
2021-09-31  425
2021-12-31  420
2022-03-31  430
2022-06-31  450

[90 rows x 1 columns]